#fileupload {
	display: none;
}
#Listfile {
	width: 100%;
	margin-bottom: 20px;
}
.deleteFileProgress .ow_ic_delete, .delete_file .ow_ic_delete {
	width: 16px;
	height: 16px;
}

.sp-progress-container {
	width:100%;
	height:1.5em;
	position:relative;
	background-color:#f1f1f1;
}
.sp-round-xlarge {
	border-radius:16px!important
}
.sp-progressbar {
	background-color:#757575;
	height:100%;
	position:absolute;
	line-height:inherit
}
.clickImg:hover {
	cursor: pointer;
}
#file_btn_thumb {
    width: 125px;
    height: 122px;
    overflow: hidden;
    background-repeat: no-repeat;
    border: 3px dotted #DCDCDC;
    border-radius: 10px;
    position: relative;
    margin: 5px;
}

#file_btn_thumb .ow_add_item {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    margin-right: 10px;
    margin-top: -26px;
    margin-right: 30px;
    pointer-events: none;
}

.divThumb {
	max-height: 128px;
	max-width: 128px;
	
    margin: 5px;
}

.ow_disable {
	background-color: #a94442;
	background-image: none;
}
.ow_disable:hover {
	cursor: not-allowed;
}