<div class="ow_wide ow_automargin ow_center">
	{form name="formCategoryAdd" }
		<table class="ow_table_1 ow_form ">
			<tr class="ow_alt1">
				<td class="ow_value">{label name="nameCategory" }</td>
				<td class="ow_value">{input name="nameCategory" }</td>
			</tr>
			<tr class="ow_alt1">
				<td class="ow_value">{label name="slugCategory" }</td>
				<td class="ow_value">{input name="slugCategory" }</td>
			</tr>
			<tr class="ow_alt1">
				<td class="ow_value">{label name="parentCategory" }</td>
				<td class="ow_value">{input name="parentCategory" style="width:100%"}</td>
			</tr>
			<tr>
				<td class="ow_center" colspan="2">{submit name="formCategoryAdd" class="ow_ic_save"}</td>
			</tr>
		</table>
	{/form}
</div>