<div class="ow_wide ow_automargin ow_center">
	<table class="ow_table_1">
		<tr>
			<th width="5%">STT</th>
			<th width="15%">Image</th>
			<th width="40%">Name</th>
			<th></th>
		</tr>

			{capture}
				{$i = 1}
			{/capture}
		{foreach from=$platforms item='platform' name='platform'}
		<tr>
			<td>{$i}</td>
			<td><img src="{$urlUserFilesPlatform}{$platform->thumb}" width="100%"></td>
			<td>{$platform->name}</td>
			<td>{decorator name="button" class="ow_ic_edit" langLabel="spdownload+edit" onclick="window.location.href = '`$platform->urlEdit`'" }
			</td>
		</tr>
			{capture}
				{$i++}
			{/capture}
		{/foreach}
	</table>
</div>