{form name="formUpload" }

<div class="clearfix"></div>
<br>
<div class="ow_narrow ow_left">
	<table class="ow_table_1 ow_form ">
		<tr class="ow_alt1">
			<td class="ow_value">{label name="upName" }</td>
			<td class="ow_value">{input name="upName" }</td>
		</tr>
		<tr class="ow_alt1">
			<td class="ow_value">{label name="upIcon" }</td>
			<td class="ow_value">
				<input style="display:none" id="iconUpload" accept="image/*" name="icon" type="file">
				<label class="clickImg" for="iconUpload" ><img id="imgIcon" width="100%" src="{$pathImgNone}" /></label>
				<input class="iconHidden" type="hidden" name="iconPlatform" value="icon_none.png!^0^!8400!^0^!Default" />
			</td>
		</tr>
		<tr class="ow_alt1">
			<td class="ow_value ow_center" colspan="2" >{submit name="upLoad" class="ow_ic_save"}</td>
		</tr>
	</table>
</div>
{/form}
